body {
  font-size: 1.5em

}
#package-grid {

}
.header-image {
  width:100%;
}
.fancy-font {
 font-family: "Fredoka One", sans-serif;
}
.embedded-picture {
  width: 40%;
}

.float-left {
  float:left;
}
.float-right {
  float:right;
}

.text-left {
  margin-left: 20px;
}
.text-right {
  margin-right: 20px;
}
.text-top {
  margin-top: 20px
}
.text-bottom {
  margin-bottom: 20px;
}
.cell {
  border: 5px solid black;
}
.entry {
  padding: 20px;
  /* border: 3px solid red; */
}
.green-bg {
  background-color: #afa;
}
.shadowed {
  box-shadow: 0px 0px 10px black;
}
.fixed-200 {
  height:200px;
}
.panel > .panel-heading {
  background-image: none;
  background-color:#ddf;
}
.panel > .panel-body {
  background-image: none;
  background-color:#ddf;
}
