body {
  font-size: 1.5em

}

.header-image {
  width:100%;
}
.fancy-font {
 font-family: "Fredoka One", sans-serif;
}

.embedded-picture {
  width: 40%;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.text-left {
  margin-left: 20px;
}
.text-right {
  margin-right: 20px;
}
.text-top {
  margin-top: 20px
}
.text-bottom {
  margin-bottom: 20px;
}
